/* This will control the styling for all my pages */

/* Import custom font */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800&family=Playfair+Display:wght@600&display=swap");

/* BODY */
body { 
    background-color: #fafafa;
    margin: 0;
} 

/*NAVIGATION BAR */
nav {
    background-color: #ffffff;
}

/*Nav bar will change color when hovered over */
nav a:hover {
    background-color: lavenderblush;
    color: #5d5985;
}
