/* This will control the styling for all my pages */

/* BODY */
body { 
    background-color: #fafafa;
    margin: 0;
} 

/*NAVIGATION BAR */
nav {
    background-color: #ffffff;
}

/*Nav bar will change color when hovered over */
nav a:hover {
    background-color: lavenderblush;
    color: #5d5985;
}
