/* This will control the styling for all my pages */

/* Import custom font */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800&family=Playfair+Display:wght@600&display=swap");

/* BODY */
body { 
    font-family: "Inter", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
    background-color: #fafafa;
    margin: 0;
} 

/*NAVIGATION BAR */
nav {
    background-color: #ffffff;
}

/*Nav bar will change color when hovered over */
nav a:hover {
    background-color: lavenderblush;
    color: #5d5985;
}
header {
    background-color: rgb(172, 207, 172);

}

footer {
    background-color: rgb(172, 207, 172);
}

/*BLOG POSTS*/
.posts {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;                         /* space between cards */
    align-items: stretch;
  }
  